
#sidebar.affix {
  /* position: fixed; already applied in .affix */
  top: 50px;
  /* might also need e.g. width: 300px; as position: fixed; removes the element from its parent. */
}
#sidebar.affix-bottom {
  position: absolute; /* Start scrolling again. */
  top: auto; /* Override the top position above. */
  /* bottom: 20px; */ /* It should stop near the bottom of its parent. */
}

.bs-sidenavNew form, .bs-sidenavNew #sourcelink {
  padding: 5px 20px;
}

.bs-sidenavNew {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f5fa;
	border-radius: 5px;
}

/* The code below is based on the bootstrap website sidebar */

.bs-sidenavNew.affix {
  position: static;
}

/* First level of nav */
.bs-sidenavNew {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidenavNew .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidenavNew .nav > li > a:hover,
.bs-sidenavNew .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidenavNew .nav > .active > a,
.bs-sidenavNew .nav > .active:hover > a,
.bs-sidenavNew .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

.bs-sidenavNew .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.bs-sidenavNew .nav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 40px;
  font-size: 90%;
}

.bs-sidenavNew .nav .nav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 50px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidenavNew .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidenav */
  .bs-sidenavNew.affix,
  .bs-sidenavNew.affix-bottom {
    width: 213px;
  }
  .bs-sidenavNew.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidenavNew.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidenavNew.affix-bottom .bs-sidenavNew,
  .bs-sidenavNew.affix .bs-sidenavNew {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidenav again */
  .bs-sidenavNew.affix-bottom,
  .bs-sidenavNew.affix {
    width: 263px;
  }
}


body {
	padding-top: 0px;
}

#navbar {
	border-radius: 0px !important;
	box-shadow: 0px 0px 8px black;
}
#navbarSpacer {
	height: 50px;
}

#navbar .navbar-brand > img {
	width: 150px;	
}

.navbar-brand {
	padding: 9px;
}

#sidebar {
	background-color: #eee;
}

header {
  background-image: url('t2HeaderBg.png');
  height: 110px; /*140px;*/
}

header img {
  margin-top: 11px;
  height: 90px;
}

header #t2-random-slogan {
  font-size: 13px;
  width: 190px;
  margin-top: -24px;

  font-style: normal;
  font-weight: normal;
  color: rgb(111, 111, 111);
  text-align: right;
  line-height: 14px;
}

@media (max-width: 767px) {
  header {
    height: 85px;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
  }
  header img {
    height: 70px;
    margin-top: 7px;
  }
  header #t2-random-slogan {
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 110px;
    width: 183px;
    margin-top: -18px;
    line-height: 11px;
  }
}

/* .bs-sidenav.affix {
    position: fixed;
    top: 20px;
}
 */
.bs-sidenavNew {
    background-color: #EBEBED;
}

footer {
  background-image: url('t2FooterBlackLinen.png');
  padding: 10px;
  padding-top: 10px;
  color: #DDDDDD;
  /* font-size: 12px; */

  -moz-box-shadow:    0px 1px 5px 5px #aaa;
  -webkit-box-shadow: 0px 1px 5px 5px #aaa;
  box-shadow:         0px 1px 5px 5px #aaa;
  margin-top: 30px;
}

footer a { color: white }


a {
	color: #3b5998;
}

img.align-center, .figure.align-center, object.align-center {
	max-width: 100%;
}


/* add the github logo to source link */
.githubLogo {
	background-image: url('githubLogo.png');
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: -2px;
}

/* add the permalink like github */
a.headerlink {
	background-image: url(linkIcon.png);
	color: rgba(255,255,255,0);
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	opacity: 0.7;
	margin-left: 4px;
}

/*
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #353735;
}

.navbar-inverse {
    background-color: #353735;
    border-color: #353735;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #353735;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #0098c3;
}

a, a:hover, a:focus {
    color: #0098c3;
    text-decoration: none;
}

em {
    font-style: normal;
}

a:hover, a:focus {
    color: #0098c3;
    text-decoration: underline;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0098c3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 500;
    color: #353735;
}

h1 {
    font-size: 26pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 14pt;
}
*/
/* Center Images */
/*
.section > p > img:only-child {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.admonition-todo {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.bs-sidenav.affix {
    position: fixed;
    top: auto;
}

ul.current a.current {
    font-weight: bold;
}

.navbar-brand {
    padding-top: 15px;
    padding-bottom: 11px;
}

.navbar-brand-logo {
    position:relative;
    top:-2px;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

.bs-sidenav, pre {
    background-color: #EBEBED;
}

code {
    color: #0098c3;
    background-color: #EBEBED;
}

.admonition code {
    color: blue;
    background-color: red;
}
*/



#sidebar ul.current a.current {
	color: black;
	text-decoration: none;
	background-color: #CECECE;
	border-right: 2px solid !important;
	/*border-right: 1px solid #dbd8e0;*/
}

li.toctree-l1 > a {
}
li.toctree-l2 > a {
	font-weight: bold;
}
li.toctree-l3 > a {
	font-size:85% !important;
}
li.toctree-l4 > a {
	font-style: italic;
	font-size:80% !important;
}

.admonition-congrats {
	background-image: -webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
	background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
	
	background-color: #dff0d8;
	border-color: #b2dba1;
	color: #3c763d;
}

/*
.highlight-bash {
	background-image: url("http://dl.dropboxusercontent.com/u/24368142/t2/codeblockBashHeader.png");
	background-repeat: no-repeat;
	padding-top: 22px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.highlight-bash>.highlight>pre {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
*/

/* styling caption tip for some code-blocks languages */
.highlight-console:before,
.highlight-console-output:before,
.highlight-xml:before,
.highlight-bash:before,
.highlight-python:before,
.highlight-r:before
{
	font-size: 10px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
	padding: 0px 5px;
	display: inline-block;
	height: 17px;
	background-color: #f5f5f5;
}

/* set default text for each code block language previosly defined*/
.highlight-console:before {
	content: "Console command";
}
.highlight-console-output:before {
	content: "Console output";
}
.highlight-xml:before {
	content: "XML document";
}
.highlight-bash:before {
	content: "Bash script";
}
.highlight-python:before {
	content: "Python";
}
.highlight-r:before {
	content: "R";
}
/* resolve sphinx-bootstrap css conflict */
.container[class^="context-"], .container[class*=" context-"] {
	width: auto;
	padding: 0px;
}

/* set context texts */
.context-run-executable.container > .highlight-bash:before {
	content: "Bash run executable";
}
.context-run-executable.container > .highlight-r:before {
	content: "R run executable";
}
.context-run-executable.container > .highlight-python:before {
	content: "Python run executable";
}
.context-application-descriptor-file.container > .highlight-xml:before {
	content: "Application Descriptor file (XML)";
}

/* remove border top left radius when there's the caption element */
.highlight-console pre,
.highlight-console-output pre,
.highlight-xml pre,
.highlight-bash pre,
.highlight-python pre,
.highlight-r pre
{
	border-top-left-radius: 0px;
}

/* enphatize console */
.highlight-console pre, .highlight-console-output pre {
	border-top-left-radius: 0px;
	background: #444;
	border-color: #444;
}

.highlight-console pre, .highlight-console-output pre, .highlight-console pre>span, .highlight-console pre>span.go {
	color: #1BDF00;
}

.highlight-console pre>span.go:before {
	content: "$";
	margin-right: 9px;
	color: #eee;
}

/* custom captions */
.context-custom.container>[class^="highlight-"]:before {
	content: initial;
}
.context-custom.container>[class^="highlight-"] pre {
	border-top-left-radius: 0px;
}
.context-custom.container>p {
	display: inline-block;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
	padding: 0px 5px;
	height: 17px;
	font-size: 10px;
	background-color: #f5f5f5;
}


